    <br><br><br>
                        
                     
<body class="home page-template page-template-page-home page-template-page-home-php page page-id-2 page-parent">


<section class="banner banner--content_on_left banner--bottom_border banner--custom_color">

       <%= image_tag("womantexting2.jpg", width:"100%",  alt: "woman texting") %>
    <!-- <img width="1025" height="500" src="http://ta-na-hora.com/wp-content/uploads/2016/06/banner1_tnh_site.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg sizes="(max-width: 1025px) 100vw, 1025px" /> -->
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:400px;margin-top:-18%;color:#ffffff;">

                       <br><br><br><br><br><br><br> <h1>Inovação em <br> gestão saúde populacional <br />
                       </h1>


                       <script type="text/javascript">
    
$(document).ready(function(){

    $('#bannerYoutubeModal135').click(function (){
      $('.reveal--youtube').show();

    });

   



    $('#bannerYoutubeModal135').click(function (){
      $('.reveal-overlay').show();
    });


    $('.reveal-overlay').click(function (){
      $('.reveal-overlay').hide();
       $("#player").pauseVideo();
    });



});
</script>


                           <div class="banner-content-cms-btnwrap">
            <a id="bannerYoutubeModal135" class="button" aria-controls="bannerYoutubeModal135" aria-haspopup="true" tabindex="0">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                    Assista o vídeo
                                </a>
                            </div>


                            <div class="reveal-overlay" >

        <button class="close-button" data-close="" aria-label="Close modal" type="button">
            <span class="icon-x" aria-hidden="true"></span>
        </button>

    <div class="reveal reveal--youtube" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span class="fa fa-times" style='font-size: 20px;' aria-hidden="true"></span>
        </button>



        <div class="reveal-youtube-wrap">
            <iframe id="player" width="854" height="480" src="https://www.youtube.com/embed/BGalGKe1nfI?version=3&enablejsapi=1" frameborder="0" allowfullscreen allowscriptaccess="always"> </iframe>
        </div>
    </div>
        

</div>          
                    </div>
                </div>
            </div>
        </div>



    
</section>





<section class="page-section ">

    
    <div class="row align-middle row--main_content">
        
        <div class="column  small-12">

            
            <div class="page-section-cms ">
                <h1 style="text-align: center;"><strong>A Tá.Na.Hora usa chatbots e inteligência artificial para revolucionar a saúde no Brasil</strong></h1>
<p>&nbsp;</p>
<h4><p style="text-align: center;">Educamos, monitoramos e engajamos populações de risco através de mensagens de texto em dispositivos móveis. Estamos inovando em saúde no mundo digital <br> para transformar a gestão de saúde populacional</p></h4>


<p style="text-align: center;"> <br> <a href="/visao_geral">SAIBA MAIS</a> </p> 
  

       <%= image_tag("iphone.gif", width:"100%",  alt: "product") %>
     
    </div>
</section>




<section class="banner banner--content_on_right banner--custom_color">
    <section class="baby">
   <!--  <img width="1017" height="377" src="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 1017w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 300w, http://ta-na-hora.com/wp-content/uploads/2016/06/home_banner_5.jpg 768w" sizes="(max-width: 1017px) 100vw, 1017px" /> -->
   <%= image_tag("optstock5.jpg", width:"100%",  alt: "woman kissing baby") %>
    </section>
    
        <div class="banner-content">
            <div class="row align-middle row--main_content">
                <div class="column">

                    <div class="banner-content-cms" style="max-width:300px;margin-top:-35%;color:#ffffff; ">

                        <br>
                        <br><br><br>
                        <h4 style="text-align: right;"><strong><font size="6">Ajudando novas e futuras mães…tudo via mensagem</font></strong></h4>
                        


                        
                    </div>
                </div>
            </div>
        </div>

    
</section>





    <span class="section-content-scrollpoint"><span id="customers"></span></span>


<section class="section-content">

    <div class="row row--main_content">
        <div class="column">
            
            <div class="section-content-cms">
                <h2 style="text-align: center;">Como pensar diferente na gestão de saúde</h2>
            </div>
        </div>

    </div>

</section>


    <section class="orbit" role="region" data-orbit data-auto-play="false" data-box-of-bullets="orbit-nav">
    
        <nav class="orbit-nav">
            <div class="row collapse align-justify row--main_content">

                <div class="column">
    <button data-slide="0" class="is-active">
         Operadoras de Saúde   </button>
</div><div class="column">
    <button data-slide="1" class="">
        Setor Público    </button>
</div><div class="column">
    <button data-slide="2" class="">
        Empresas   </button>
</div><div class="column">
    <button data-slide="3" class="">
        Prestadoras    </button>
</div>
            </div>
        </nav>

        <ul class="orbit-container">

            
<li class="orbit-slide is-active">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Operadoras de saúde</h1>
<p>A Tá.Na.Hora tem o objetivo de reduzir significativamente o número de eventos adversos e mitigar problemas em situações de risco. Por meio de mensagens de texto enviadas no dispositivos móveis de paciente por chatbots via SMS e Facebook Messenger estamos educando, engajando e monitorando pacientes. Com isso, reduzimos os custos de operadoras de saúde e melhoramos a qualidade do serviço prestado.
<br><br>

<ul>
<li> Treinamento tecnológico dos gestores e responsáveis pelos programas </li>
<li> Reeducação de pacientes quanto à saúde</li>
<li> Envio de alertas para equipes médicas em situações de risco ou emergência</li>
<li>Relatórios dos programas de saúde periodicamente </li>
<li>Gestão de saúde populacional em larga escala </li>
<li>Construção de programas customizáveis </li>

</ul>
</p>




<p><a href="/contato">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--center orbit-img--on_top" style="">
            
            <%= image_tag("freedom.jpg", width:"120%",  alt: "stethescope") %>

                    <!-- <img width="447" height="317" src="https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg" class="attachment-full size-full" alt="" srcset="https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg 447w, https://static.pexels.com/photos/316879/pexels-photo-316879.jpeg 300w" sizes="(max-width: 447px) 100vw, 447px" />          -->       </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Setor Público</h1>
<p><span style="font-weight: 400;">A Tá.Na.Hora atua consistentemente na gestão de saúde populacional e no monitoramento de grandes populações. Por isso, nossa tecnologia está alinhada com a necessidade do setor público de soluções de larga escala. A partir mensagens de texto em dispositivos móveis via SMS e Facebook Messenger, educamos, conscientizamos, engajamos e monitoramos cidadãos em prol de maiores cuidados à saúde.<br />
<em>  </em></span>
<ul>
<li> Foco no controle de epidemias, pacientes crônicos e qualidade de vida </li>
<li> Realização de treinamentos em tecnologia para responsáveis pelos programas de saúde </li>
<li> Alertas em situações de risco ou emergências </li>
<li> Envio de relatórios periódicos sobre a saúde da população </li>
<!-- <li> Solução de baixo custo e alto impacto social </li>
<li>  Finalista do Prêmio Empreendedorismo Social da Folha de São Paulo </li> -->

</ul>

</p>


<p><a href="/contato">Entre em contato conosco</a></p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">

            <%= image_tag("setorpublico.jpg", width:"100%",  alt: "slick photo of phone usage") %>

                    <!-- <img width="493" height="289" src="http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/hospital_3.jpg 300w" sizes="(max-width: 493px) 100vw, 493px" />  -->               </div>
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1>Empresas</h1>
<p><span style="font-weight: 400;">Criamos um programa de Bem-Estar digital para colaboradores focando em alimentação saudável, prática de atividade física, redução da carga tabágica e saúde mental. Através de mensagens de texto em dispositivos móveis, conscientizamos colaboradores sobre cuidados à saúde para a qualidade de vida de uma população. </span>

<br><br>
<ul>
<li> Alinhamento estratégico com o departamento de RH para benefícios que alavanquem os resultados da empresa </li>
<li>Redução da taxa de absenteísmo e presenteísmo </li>
<li>Programas de Bem-estar, Gravidez Saudável, entre outros </li>
<li> Acompanhamento integral e mensuração dos resultados do programa em torno de objetivos estratégicos </li>
</ul>

<br>
<a href="/contato">Entre em contato conosco</a>

</p>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">

                 <%= image_tag("empresas.jpg", width:"100%",  alt: "man with ipad") %>

                <!-- <div class="orbit-img orbit-img--right orbit-img--on_top" style="">
                    <img width="493" height="575" src="http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/operadores_saude.jpg 340w" sizes="(max-width: 493px) 100vw, 493px" />                </div> -->
            </div>
        
    </article>
</li>
<li class="orbit-slide ">
    <article class="row align-middle row--main_content">

        <div class="column  large-6 small-12 small-order-2 ">
            
            <div class="orbit-cms">
                <h1> Hospitais, clínicas e farmacêuticas</h1>
<p><span style="font-weight: 400;">Focando na atuação com chatbots via SMS e Facebook Messenger melhoramos a adesão de pacientes a tratamentos medicamentosos e acessibilidade a saúde. Temos experiência em diversas áreas: cardiologia, pacientes crônicos, pós-alta hospitalar, vacinação, entre outros. Sendo que, nossa expertise consiste em desenvolver abordagens digitais de saúde para a realidade social de mercados emergentes.</span>
<br><br>
<ul>
<li>Expertise consiste em desenvolver soluções de engajamento </li>
<li>Treinamento em tecnologia para responsáveis pelos programas de saúde </li>
<li>Construção de programas customizáveis</li>
<li>Atenção personalizada a pacientes </li>
<li>Redução de custos com complicações clínicas </li>
</ul>
</p>
<div>


<p><a href="/contato">Entre em contato conosco</a></p>
</div>
            </div>

        </div>

                    <div class="column large-6 small-12 large-order-2 align-self-top">
                <div class="orbit-img orbit-img--right orbit-img--on_top" style="">

            <%= image_tag("prestadora.jpg", width:"100%",  alt: "slick photo of phone usage") %>

                   <!--  <img width="493" height="289" src="http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg" class="attachment-full size-full" alt="" srcset="http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg 493w, http://ta-na-hora.com/wp-content/uploads/2016/06/ind_farm.jpg 340w" sizes="(max-width: 493px) 100vw, 493px" />  -->               </div>
            </div>
        
    </article>
</li>
        </ul>

    </section>



<script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/jquery.min.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/foundation.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-content/themes/wellpass/static/js/app.min.js?ver=0.21'></script>
<script type='text/javascript' src='https://www.wellpass.com/wp-includes/js/wp-embed.min.js?ver=4.8'></script>
    </body>