<br><br><br>
<section class="banner banner--content_on_right banner--bottom_border banner--custom_color">

        <%= image_tag("restock1.jpg", width:"100%",  alt: "picture of farmers") %>

    <!-- <img width="1025" height="341" src="http://ta-na-hora.com/blog/wp-content/uploads/2017/05/arte-post-1024x586.jpg" class="banner-bg" alt="" srcset="http://ta-na-hora.com/blog/wp-content/uploads/2017/05/arte-post-1024x586.jpg height: 198px; 1025w, http://ta-na-hora.com/blog/wp-content/uploads/2017/05/arte-post-1024x586.jpg 300w, http://ta-na-hora.com/blog/wp-content/uploads/2017/05/arte-post-1024x586.jpg 768w, http://ta-na-hora.com/blog/wp-content/uploads/2017/05/arte-post-1024x586.jpg 1024w" sizes="(max-width: 1025px) 100vw, 1025px" /> -->
    
<!--         <div class="banner-content">

            <div class="row align-middle row--main_content">
                <div class="column">

                                       <div class="banner-content-cms" style="max-width:400px;margin-top:-3.5%;color:#ffffff;">

                        
                    </div>
                </div>
            </div>
        </div>

    
</section>



<section class="section-content section-content--white">

    <div class="row row--main_content">
        <div class="column">
            
            <div class="section-content-cms">
                <h1 class="p1" style="text-align: center;"><span class="s1">Por meio do uso de celulares, ajudamos o setor de saúde a educar e monitorar suas populações 
<br />
</span></h1>
            </div>

        </div>

    </div>

</section>


<section class="section-iconlist section-content--white section-iconlist--big--top">

    <ul class="row iconlist row--main_content">

        
<li class="column large-4 medium-12 small-12 iconlist-item">
    
<br>

        <div class="iconlist-article-cms">
            <h3>Implementar programas clinicamente comprovados<br />
</h3><br>
<p>Programas são pautados em evidências empíricas de melhores práticas para desfechos clínicos favoráveis para cada tipo de população</p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-12 small-12 iconlist-item">
  
  <br>  
 

        <div class="iconlist-article-cms">
            <h3>Perfeitos para a realidade de cada organização<br/></h3>
<br>
<p>Os programas da Tá.Na.Hora são customizáveis às necessidades do clientes</p>
        </div>
        
    </article>

</li>

<li class="column large-4 medium-12 small-12 iconlist-item">
    
<br>

        <div class="iconlist-article-cms">
            <h3>Definição de objetivos</h3>
<br>
<p>Crie critérios e métricas para avaliar o desempenho de cada programa para a saúde de seus pacientes e obter insights
</p>
        </div>
        
    </article>

</li>

    </ul>

 -->
   



<section class="page-section ">

            <div class="row">
            <div class="column">
                
                <div class="page-section-cms">
                    <h1 style="text-align: center;">Nossos programas de saúde focam na conscientização e no monitoramento de pacientes para obter informações relevantes em tempo real, levando a melhores resultados clínicos e redução de custos.
 <del></del></h1>
                </div>
            </div>
        </div>
    
    <div class="row align-middle row--main_content">
        
        <div class="column  large-expand large-order-2 small-12">

            
            <div class="page-section-cms ">
                <table class="table-image-list" style="height: 369px;" width="896">
<tbody>
<tr>
<td><img class="alignnone size-full wp-image-1560"         <%= image_tag("gravideznew.jpg", width:"100%",  alt: "picture of farmers") %></td>
<td><strong>Programa Gravidez Saudável:</strong>  Empoderamento da mulher na gravidez, dicas para manter uma gestação saudável e acompanhamento da primeira infância.</td>
</tr>
<tr>
<td><img class="alignnone size-full wp-image-1548" <%= image_tag("bemestarnew.jpg", width:"100%",  alt: "picture of farmers") %>
</td>
<td><strong>Programa Bem-estar:</strong>  Voltado para dicas personalizadas de como manter a saúde em dia e prevenção de situações de risco.</td>
</tr>

<tr>
<td><img class="alignnone size-full wp-image-1548" <%= image_tag("fumar3.jpg", width:"100%",  alt: "picture of farmers") %>
</td>
<td><strong>Programa Tabagismo:</strong>  Engajamento para o abandono do cigarro.</td>
</tr>


<tr>
<td><img class="alignnone wp-image-1690 size-full" <%= image_tag("diabetesnew.jpg", width:"100%",  alt: "picture of farmers") %></td>
<td><strong>Programa de Diabetes:</strong>  Conscientização sobre hábitos mais saudáveis e monitora sinais críticos na saúde dessa população.
</td>
</tr>
<tr>
<!-- <td><img class="alignnone wp-image-1562 size-full" src="https://www.wellpass.com/wp-content/uploads/2017/03/txt4health.png" alt="" width="65" height="62" /></td>
<td><strong>Programa de Hipertensão:</strong> Avalia como está o quadro clínico de um paciente hipertenso para prevenir situações adversas.</td> -->
</tr>
<tr>
<td><img class="alignnone size-full wp-image-1561"         <%= image_tag("cirugianew.jpg", width:"100%",  alt: "picture of farmers") %>
</td>
<td><strong>Programa de acompanhamento no pré e pós-alta cirúrgico: </strong>: acompanhamos todo o processo desde antes do procedimento até a alta para evitar complicações.</td>
</tr>
<td><img class="alignnone size-full wp-image-1561"  <%= image_tag("controlenew.jpg", width:"100%",  alt: "picture of farmers") %>
</td>
<td><strong>Programa de Controle Epidemiológico: </strong> Tem o objetivo de ajudar na prevenção e monitoramento de sintomas de epidemias em populações em situação de risco</td>
</tr>
</tbody>
</table>
            </div>
        </div>

        
            <div class="column  large-shrink medium-expand small-12 align-self-middle">
                
             

            </div>

        
    </div>

</section>






</section>

<!-- section class="page-section ">

            <div class="row">
            <div class="column">
                
                
            </div>
        </div> -->
    
    <!-- <div class="row align-middle row--main_content">
        
        <div class="column  large-expand large-order-2 small-12">

            
            <div class="page-section-cms ">
                <table class="table-image-list" style="height: 369px;" width="896">
<tbody>
<tr>
<td><img class="alignnone size-full wp-image-1560" src="https://www.wellpass.com/wp-content/uploads/2017/03/text4baby.png" alt="" width="65" height="62" /></td>
<td><strong>Maternal Health</strong>: Critical health tips and resources for pregnant and new moms.</td>
</tr>
<tr>
<td><img class="alignnone size-full wp-image-1548" src="https://www.wellpass.com/wp-content/uploads/2017/03/care4life.png" alt="" width="65" height="62" /></td>
<td><strong>Diabetes</strong>: Comprehensive education and support program to improve self-care behaviors.</td>
</tr>
<tr>
<td><img class="alignnone wp-image-1690 size-full" src="https://www.wellpass.com/wp-content/uploads/2017/03/tet2quit.png" alt="" width="65" height="62" /></td>
<td><strong>Smoking Cessation</strong>: Interactive smoking cessation program clinically proven to double quit rates.</td>
</tr>
<tr>
<td><img class="alignnone wp-image-1562 size-full" src="https://www.wellpass.com/wp-content/uploads/2017/03/txt4health.png" alt="" width="65" height="62" /></td>
<td><strong>Adult Health</strong>: Adults receive personalized tips and reminders based on their age and health risk factors.</td>
</tr>
<tr>
<td><img class="alignnone size-full wp-image-1561" src="https://www.wellpass.com/wp-content/uploads/2017/03/text4kids.png" alt="" width="65" height="62" /></td>
<td><strong>Child Health</strong>: Parents of children ages 1 to 18 receive health information based on their child’s age.</td>
</tr>
</tbody>
</table>
            </div>
        </div>

        
            <div class="column  large-shrink medium-expand small-12 align-self-middle">
                
                <div class="page-section-img page-section-img--on_middle page-section-img--align_left">
                    <img width="237" height="464" src="https://www.wellpass.com/wp-content/uploads/2017/03/phone_programs.png" class="attachment-full size-full" alt="" srcset="https://www.wellpass.com/wp-content/uploads/2017/03/phone_programs.png 237w, https://www.wellpass.com/wp-content/uploads/2017/03/phone_programs-153x300.png 153w" sizes="(max-width: 237px) 100vw, 237px" />
                                    </div>

            </div>

        
    </div>
 -->
<!-- </section> -->


    <section class="fancy-section fancy-section--no_img">

        <div class="row align-middle row--main_content">
                        
            <div class="column  small-12">
                
                <div class="fancy-section-cms">
                    <p style="text-align: center;">Nossos clientes operadoras de saúde, empresas, setor público, farmacêuticas, hospitais e clínicas podem usar nossos programas para apoiar as pessoas de quem cuidam.</p>
                </div>

            </div>

        </div>

    </section>
